##########################################
# sixone router config

# Edge:    net prefix interface-ip
Edge:			    abc:: 64 abc::1

# Transit:    net prefix interface-ip
Transit: 		    1000:: 64 1000::1

# Gateway:    gateway to transit domain (internet)
Gateway:		    7000::
